.small {
  font-size: 0.8em;
}
[class^="col-"] {
  float: none;
  display: table-cell;
  vertical-align: inherit;
}
[class^="col-"] {
  float: left;
}
[class^="col-"].inline-block {
  float: none;
  display: inline-block;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.66667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.66667%;
}
.col-12 {
  width: 100%;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-left70 {
  float: left;
  width: 67%;
}
.pull-right30 {
  float: right;
  width: 27%;
}
.pull-right ~ p {
  clear: both;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 2em;
}
