# Binary files
*.pptx binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
*.woff2 binary
*.woff binary
*.eot binary

# Normalize line endings
* text=auto eol=lf
