:root {
  --color0: #0c1533;
  --color1: #77888b;
  --color2: #a1a89b;
  --color3: #bac1b7;
  --color4: #d1cfb5;
  --color5: #e2dfbe;
  --color6: #dfdec9;
  --color7: #eeeccb;
  --color8: #666666;
  --color9: #77888b;
  --color10: #a1a89b;
  --color11: #bac1b7;
  --color12: #d1cfb5;
  --color13: #e2dfbe;
  --color14: #dfdec9;
  --color15: #eeeccb;
}
