:root {
  --color0: #0C1533;
  --color1: #77888B;
  --color2: #A1A89B;
  --color3: #BAC1B7;
  --color4: #D1CFB5;
  --color5: #E2DFBE;
  --color6: #DFDEC9;
  --color7: #EEECCB;
  --color8: #666666;
  --color9: #77888B;
  --color10: #A1A89B;
  --color11: #BAC1B7;
  --color12: #D1CFB5;
  --color13: #E2DFBE;
  --color14: #DFDEC9;
  --color15: #EEECCB;
}
