circle.cell {
  fill: #0062ff;
}

circle.iopad {
  fill: #ec0000;
}

rect.net {
  fill: none;
  stroke: #00321c;
  stroke-width: 20;
  stroke-opacity: 0.04;
}

line {
  stroke: #00a200;
  stroke-width: 4;
  stroke-opacity: 0.4;
}

/* PRESENTATIONAL STYLES */
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
